html, body {
    height: 98%;
    width: 99%;
}

header {
    text-align: center;
}

#book_container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 309.6px;
    height: 358.2px;
    background-image: url("book2.png");
    /*http://clipart-library.com/clipart/8TGbMxodc.htm
    alternate:
    http://clipart-library.com/clipart/6Ty5qg5yc.htm*/
    background-size: cover;
    margin: 30px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.card_text {
    margin-right: 35%;
    margin-bottom: 20%;
}

#bottom_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#form_container {
    display: none;
    
}

#form_align {
    display: flex;
    justify-content: center;    
    background-color: azure;
}

#open_btn_container {
    display: flex;
    justify-content: center;
}

#form_open_btn {
    width: 100%;
}

/* make text invisible maybe so that when it does not reshape anything for error form validation*/
#empty_alert {
    opacity: 0;
}

#number_alert {
    opacity: 0;
}